:root {
  --pollpage--border-color: #d9d9d9;
}

.pollpage--container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: end;
}

.pollpage--participations-container {
  width: auto;
  overflow-x: auto;
}

.pollpage--participations {
  display: inline-flex;
  flex-direction: column;
}

.pollpage--participation-choice-row {
  display: flex;
}

.pollpage--participation-choice-row > div {
  width: 79px;
  height: 44px;
  border-left: 1px solid var(--pollpage--border-color);
  border-top: 1px solid var(--pollpage--border-color);
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 22px;
}

.pollpage--participation-choice-row > div:last-child {
  border-right: 1px solid var(--pollpage--border-color);
}

.pollpage--participation-choice-row:nth-last-child(2) {
  border-bottom: 1px solid var(--pollpage--border-color);
}

.pollpage--option-choice-yes {
  background-color: #52c41a;
}

.pollpage--option-choice-no {
  background-color: #ff4d4f;
}

.pollpage--option-choice-maybe {
  background-color: #faad14;
}

.pollpage--option-choice-unknown {
  background-color: var(--pollpage--border-color);
}

.pollpage--option-choice-editable {
  cursor: pointer;
}

.pollpage--participation-option-row {
  padding-bottom: 10px;
  background-color: #fff;
  display: flex;
  box-sizing: content-box;
  flex-direction: row;
  align-items: flex-end;
}

.pollpage--participation-option {
  border: 1px solid var(--pollpage--border-color);
  margin-left: 5px;
  margin-right: 5px;
  box-sizing: border-box;
  min-width: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pollpage--participation-option-weekday,
.pollpage--participation-option-month {
  font-size: 18px;
  line-height: 20px;
}

.pollpage--participation-option-day {
  font-size: 26px;
  font-weight: 700;
  line-height: 28px;
}

.pollpage--participation-option-times {
  border-top: 1px solid var(--pollpage--border-color);
  padding-top: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 20px;
  font-size: 18px;
  font-weight: 700;
}

.pollpage--participants {
  max-width: 400px;
}

.pollpage--participant {
  padding-left: 5px;
  padding-right: 5px;
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  border-color: var(--pollpage--border-color);
  border-style: solid;
  border-width: 0 0 0 1px;
}

.pollpage--participant > .pollpage--participant-name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-height: 100%;
  margin-right: 5px;
}

.pollpage--participant:first-child {
  border-top-left-radius: 2px;
  border-top-width: 1px;
}

.pollpage--participant:last-child {
  border-bottom-left-radius: 2px;
  box-sizing: content-box;
  border-bottom-width: 1px;
}

.pollpage--participant:only-child {
  height: 44px;
}

.pollpage--participant > .pollpage--participant-action-btn {
  margin-left: auto;
}
